<header class="header-cont">
  <form class="for-form" action="submit">
    <input
      class="inputWeather"
      type="text"
      name="selectCity"
      placeholder="Enter a city"
    />
    <button class="btn-city" type="submit">Try</button>
  </form>
</header>
<div class="main-day"></div>
<div class="cont">
  <h1 class="city"></h1>
  <ul class="list"></ul>
</div>
<footer>
  <div class="container">
    <p class="blabla">Content:</p>
  </div>
</footer>

<script src="/src/index.js" type="module"></script>
